@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Quicksand", sans-serif;
  --primary-dark: #1a1a1a;
  --secondary: #f3a229;
  --primary-light: white;
  --font-dark: white;
  --font-light: black;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-dark);
  transition: all 250ms ease-in-out;
}

nav {
  padding: 30px 100px 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav li a {
  color: var(--font-dark);
}

nav a {
  text-decoration: none !important;
}

#menu-button {
  width: 40px;
  height: 40px;
  /* background-color: #2c2c2c; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: all 250ms ease-in-out;
}

#menu-button i {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

#logo {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: bold;
}

#toggle-container {
  background-color: #424242;
  width: 50px;
  height: 23px;
  border-radius: 50px;
  border: 0.13rem solid #dbdbdb;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#toggle-switch {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: var(--secondary);
}

.slide {
  flex-direction: row-reverse !important;
}

.slide-animate {
  animation: slide 300ms ease-in-out;
}

.light-bg {
  background-color: var(--primary-light);
}

.light-font {
  color: var(--font-light) !important;
}

#side-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #292929;
  height: 100vh;
  width: 150px;
  padding: 30px 40px;
  transform: translateX(200px);
  z-index: 999;
  transition: all 300ms ease-in-out;
}

#side-menu li {
  list-style: none;
  margin-bottom: 10px;
}

#side-menu a {
  color: white;
  text-decoration: none !important;
  font-size: 0.9rem;
}

#side-menu i {
  margin-right: 5px;
  color: var(--secondary);
}

#close-menu {
  width: 40px;
  height: 40px;
  background-color: #292929;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-60px) rotate(45deg);
}

#close-menu i {
  font-size: 1.5rem;
  font-weight: lighter;
  cursor: pointer;
}

.light-side-menu,
.light-side-menu > div {
  background-color: #e7ac52 !important;
}

.light-side-menu > div i {
  color: white !important;
}

.light-side-menu > i {
  color: white !important;
}

.light-side-menu > ul li i {
  color: #965a01 !important;
}

.side-menu-show {
  transform: translateX(0px) !important;
}

#home {
  height: 100vh;
  overflow: hidden;
}

#home h1 {
  text-align: center;
  font-size: 5rem;
  color: white;
  margin: 100px 200px;
  transition: all 500ms ease-in;
}

#home h1 span {
  color: var(--secondary) !important;
}

.gallery{
  width: 100vw;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.image{
  width: 300px;
  height: 100%;
  background-color: pink;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: all 1s ease-in-out;
  position: absolute;
  cursor: pointer;
}

.image:hover {
  transform: translateY(-20px);
}


@keyframes slide {
  0% {
    width: 100%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 25%;
  }
  100% {
    width: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  #home h1 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 30px 40px 30px 40px;
  }

  #home h1 {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 465px) {
  nav ul {
    display: none;
  }

  #menu-button {
    display: flex;
  }

  #side-menu {
    display: flex;
  }

  #home h1 {
    font-size: 2rem;
  }
}
